<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>My Portfolio</title>
    
</head>
<body>
    <section class="header">
        <div>
            <h1>Please login to view my Portfolio</h1>
            <a href="login.html">
                <button>Login</button>
            </a>
            <img class="profile-image" src="/static/Remove-bg.ai_1719416785037.png" alt="logo" ali>
            <h1>My name is Quy</h1>
        </div>
    </section>
    <section class="content_section">
        <div class="content-block">
            <h2>About me</h2>
            <p>Later...</p>
        </div>
        <div class="content-block">
            <h2>My Goals</h2>
            <p>My Goals and aspiration are to become a pentester</p>
        </div>
        <div class="content-block">
            <h2>My Skills</h2>
            <p>My technical skill are off the charts.</p>
        </div>
    </section>
    <section class ="contact"> 
        <div>
            <h2>Contact me</h2>
            <p>interesting in working together? Let's connect!</p>
            <p>Email: quy489066@gmail.com</p>
            <p>Phone: 0899-500-578</p>

        </div>
    </section>
</body>
</html>